html {
    min-width: 100vh;
    min-height: 100vh;
    margin: 0px;
    padding: 0px;
    cursor: default;
}

body {
    background-color: #b5b5b5;
    background-size: 100%;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    height: 100vh;
    width: 100vw;
    margin: 0px;
    font-family: Didot;
    user-select: none;
}

#menu {
    position: relative;
    height: 100vh;
    width: 20%;
    z-index: 1;
}

#my-face {
    position: absolute;
    left: 30%;
    transform: translateX(-50%);
    height: 100vh;
    opacity: 0;
    user-select: none;
    animation: img-fade-in 3s 3.5s ease-in forwards;
    z-index: 0;
}

@keyframes img-fade-in {
    from { opacity: 0; }
    to { opacity: 1; }
}

#name {
    display: flex;
    flex-direction: column;
    position: relative;
    margin: 0px;
    padding: 0px;
    text-align: right;
    width: fit-content;
    color: #fbcc16;
}

#first, #last {
    margin: 10px;
    font-size: 15vw;
    z-index: 100;
}

#first {
    transform: translateY(8vw);
    animation: firstname 2s forwards ease-in, color-change 2s 3.5s forwards ease-in-out;
}

#last {
    animation: lastname 2s forwards ease-in, color-change 2s 4s forwards ease-in-out;
}

@keyframes firstname {
    from { margin-left: 110%; }
    to { margin-left: 0%; }
}

@keyframes lastname {
    0% { margin-left: 130%; }
    10% { margin-left: 130%; }
    100% { margin-left: 0%; }
}

@keyframes color-change {
    from { color: #fbcc16; }
    to { color: black }
}

#hamburger-input {
    visibility: hidden;
}

#hamburger-menu {
    width: 100px;
    height: 20px;
    display: block;
    border: none;
    padding: 0px;
    margin: 25px;
    background: linear-gradient(to bottom,
            #00a8ae, #00a8ae 33%,
            #b5b5b5 33%, #b5b5b5 66%,
            #00a8ae 66%, #00a8ae 100%);
    z-index: 100;
}

#hamburger-menu #sidebar-menu {
    visibility: hidden;
    position: fixed;
    top: 0;
    left: -250px;
    width: 200px;
    height: 100%;
    background-color: black;
    color: #fbcc16;
    transition: .3s ease-in;
}

#hamburger-input:checked + #hamburger-menu #sidebar-menu {
    visibility: visible;
    left: 0;
}
#hamburger-input:checked ~ .overlay{
   visibility: visible;
}

#menu-header {
    text-decoration: none;
    text-align: center;
    font-size: 40px;
}

#menu-list {
    padding-left: 0;
    list-style-type: none;
    text-align: center;
}

a {
    text-decoration: none;
    color:#fbcc16;
    font-size: 20px;
}

li {
    padding-top: 2vh;
    padding-bottom: 2vh;
}

@media only screen and (max-width: 900px) {
    #my-face {
        position: absolute;
        bottom: 0;
        transform: translateX(-50%);
        height: 80vh;
        opacity: 0;
        animation: img-fade-in 3s 3.5s ease-in forwards;
        z-index: 0;
    }

    #first, #last {
        margin: 10px;
        font-size: 100px;
        z-index: 100;
    }
}

@media only screen and (max-width: 700px) {
    #my-face {
        position: absolute;
        bottom: 0;
        transform: translateX(-50%);
        height: 70vh;
        opacity: 0;
        animation: img-fade-in 3s 3.5s ease-in forwards;
        z-index: 0;
    }

    #first, #last {
        margin: 10px;
        font-size: 75px;
        z-index: 100;
    }

    #hamburger-menu #sidebar-menu {
        width:100%;
        transition: .2s ease-in;
    }

    #menu-header {
        font-size: 70px;
    }

    a {
        font-size: 30px;
    }
}