html {
    min-width: 100vh;
    min-height: 100vh;
    margin: 0px;
    padding: 0px;
    cursor: default;
}

body {
    background-color: #b5b5b5;
    background-size: 100%;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    height: 100vh;
    width: 100vw;
    margin: 0px;
    font-family: Didot;
}

#menu {
    position: relative;
    height: 100vh;
    width: 20%;
    z-index: 1;
}

#my-face {
    position: absolute;
    left: 30%;
    transform: translateX(-50%);
    height: 100vh;
    opacity: 0;
    animation: img-fade-in 3s 3.5s ease-in forwards;
    z-index: 0;
}

@keyframes img-fade-in {
    from { opacity: 0; }
    to { opacity: 1; }
}

#name {
    display: flex;
    flex-direction: column;
    position: relative;
    margin: 0px;
    padding: 0px;
    text-align: right;
    width: fit-content;
    color: #fbcc16;
}

#first, #last {
    margin: 10px;
    font-size: 15vw;
    z-index: 100;
}

#first {
    transform: translateY(8vw);
    animation: firstname 2s forwards ease-in, color-change 2s 3.5s forwards ease-in-out;
}

#last {
    animation: lastname 2s forwards ease-in, color-change 2s 4s forwards ease-in-out;
}

@keyframes firstname {
    from { margin-left: 110%; }
    to { margin-left: 0%; }
}

@keyframes lastname {
    0% { margin-left: 130%; }
    10% { margin-left: 130%; }
    100% { margin-left: 0%; }
}

@keyframes color-change {
    from { color: #fbcc16; }
    to { color: black }
}


#hamburger-menu {
    width: 100px;
    height: 20px;
    display: block;
    border: none;
    padding: 0px;
    margin: 20px;
    background: linear-gradient(to bottom,
            black, black 33%,
            #b5b5b5 33%, #b5b5b5 66%,
            black 66%, black 100%);
    z-index: 100;
}

#hamburger-menu #sidebar-menu {
    visibilty: hidden;
    position: fixed;
    top: 0;
    left: -250px;
    width: 200px;
    height: 100%;
    background-color: #3D0E61;
    padding: 0px 10px;
    box-sizing: border-box;
}

@media only screen and (max-width: 900px) {
    #first, #last {
        margin: 10px;
        font-size: 100px;
        z-index: 100;
    }
}

@media only screen and (max-width: 700px) {
    #my-face {
        position: absolute;
        bottom: 0;
        transform: translateX(-50%);
        height: 80vh;
        opacity: 0;
        animation: img-fade-in 3s 3.5s ease-in forwards;
        z-index: 0;
    }

    #first, #last {
        margin: 10px;
        font-size: 75px;
        z-index: 100;
    }
}